/* Card container styling */
.adopt-intro {
    font-size: large;
}

body {
    background-color: rgb(255, 248, 245);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 90%;
}

@media (max-width: 800px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 5px;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 239, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.card img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    /* padding-bottom: 10px; */
    margin-bottom: 10px;
}

.petimage {
    height: 60%;
}

.card h1 {
    color: rgb(255, 140, 39);
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card p {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.adopt-btn {
    background-color: rgb(255, 140, 39);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 10px;
}
