@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(255, 233, 215)
}
nav{
    background-color: peachpuff;
    height: 80px;
    width: 100%;
    /* display: flex; */
    align-items: center;
}
.logo{
    height: 80px;
    margin: 0 100px;
    transition: all 0.25s;
}
.logo img{
    height: 100%;
}
nav ul{
    float: right;
    margin-right: 200px;
    /* margin-left: 50px; */
    height: 80px;
    display: flex;
    justify-items: center;
    align-items: center;
    transition: all 0.25s;
}
nav ul li{
    display: inline-block;
    height: 50px;
    font-size: 1.5rem;
    margin: 0 15px;
    padding: 0 3px;
    display: flex;
    justify-items: center;
    align-items: center;
}
nav ul li a{
    color: black;
    padding: 0 2px;
    font-family: 'Indie Flower', cursive;
}
nav ul li:hover{
    background-color: rgb(255, 207, 164);
    border-radius: 20px;
}
.cehckbtn{
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1250px){
    .logo{
        margin-left: 50px;
    }
    nav ul li a{
        font-size: 1.4rem;
        padding: 0 0px;
    }
    nav ul{
        margin-right: 100px;
    }
}
@media (max-width: 1050px) {
    .cehckbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 80px;
        display: block;
        text-align: center;
        justify-content: center;
        left: -100%;
        transition: all 0.25s;
    }
    nav ul li{
        display: block;
        text-align: center;
        justify-content: center;
    }
    nav ul li:hover{
        border-radius: 0;
        margin: 0 0;
    }
    nav ul li a{
        font-size: 1.5rem;
    }
    #check:checked ~ ul{
        left: 0;
    }
}