*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 251, 248);
}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 80px;
    background-color: rgb(255, 210, 183);
    width: 100%;
}
.logo{
    height: 95%;
    margin-left: 10%;
    transition: all ease 0.3s;
}
.logo:hover{
    cursor: pointer;
    height: 100%;
    margin-left: 9.8%;
}
.logo > img{
    height: 100%;
}
.links{
    width: 43%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: left;
}
.nav_button{
    border: 1px solid rgb(255, 210, 183);
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: cursive;
}
.nav_button:hover{
    cursor: pointer;
    background-color: rgb(255, 203, 170);
}
.intro{
    display: flex;
    justify-content: space-between;
}
.intro>p{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px 10px;
    font-size: 1.5em;
}
.intro>div{
    width: 35%;
    display: flex;
    justify-content: center;
}